# Coursera Capstone Project

- This Jupyter Notebook will be used primarily for the requirements set forth in the final Capstone project

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

# Continuing to build upon the previous notebook submission
### Utilizing BeautifulSoup, urllib and read_html to scrape data from the source Wikipedia page into a Pandas Dataframe

In [3]:
from bs4 import BeautifulSoup

In [4]:
import urllib
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
urllib.request.urlopen(url)

In [5]:
dfs = pd.read_html(url)
df = dfs[0]
df.head(10)

          0                 1                 2
0  Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned

In [6]:
type(df)

pandas.core.frame.DataFrame

## The starting dimensions of the table are 289 rows and 3 columns

In [7]:
df.shape

(289, 3)

## This step will rename the columns to the column headers scraped from the website

In [8]:
df1 = df.rename(columns=df.iloc[0])
df1.head(10)

   Postcode           Borough     Neighbourhood
0  Postcode           Borough     Neighbourhood
1       M1A      Not assigned      Not assigned
2       M2A      Not assigned      Not assigned
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned

## The following step identifies which of the Borough values equal "Not assigned" and drops those rows from the table, resulting in the removal of 77 rows

In [9]:
# Get names of indexes for which column Borough has value 'Not assigned'
indexNames = df1[df1['Borough'] == 'Not assigned'].index
 
# Delete these row indexes from dataFrame
df1.drop(indexNames, inplace=True)

df1.shape

(212, 3)

In [10]:
df1.head(10)

    Postcode           Borough     Neighbourhood
0   Postcode           Borough     Neighbourhood
3        M3A        North York         Parkwoods
4        M4A        North York  Victoria Village
5        M5A  Downtown Toronto      Harbourfront
6        M5A  Downtown Toronto       Regent Park
7        M6A        North York  Lawrence Heights
8        M6A        North York    Lawrence Manor
9        M7A      Queen's Park      Not assigned
11       M9A         Etobicoke  Islington Avenue
12       M1B       Scarborough             Rouge

## The following step is performed to clean up the table appearance by removing the first row containing values equal to the column headers.

In [11]:
df2 = df1.drop(df1.index[0])
df2.head(10)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Not assigned
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

In [12]:
df2.shape

(211, 3)

## Assigning the Borough value to the Neighbourhood column with values of "Not assigned" (see row index 9)

In [13]:
df2.loc[df2['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df2['Borough']
df2.head(15)

   Postcode           Borough     Neighbourhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern
15      M3B        North York   Don Mills North
16      M4B         East York  Woodbine Gardens
17      M4B         East York     Parkview Hill
18      M5B  Downtown Toronto           Ryerson
19      M5B  Downtown Toronto   Garden District

## Identifying and grouping rows with identical Postcode values and Borough values.  At the same time, combining the Neighbourhood values into a single row using a join function and resetting the index, but ensuring the groupby does not conduct the default sort based on the Postcode.

In [14]:
df3 = df2.groupby(['Postcode','Borough'],sort=False)['Neighbourhood'].apply(lambda x: ', '.join(x.astype(str))).reset_index()
df3.head(15)

,Postcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Harbourfront, Regent Park"
3,M6A,North York,"Lawrence Heights, Lawrence Manor"
4,M7A,Queen's Park,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge, Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens, Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson, Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ..."
12,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
13,M3C,North York,"Flemingdon Park, Don Mills South"
14,M4C,East York,Woodbine Heights

## Outputting the final dimensions of the dataframe; the previous step removed a significant number of rows resulting in a final count of 103 rows and 3 columns.

In [15]:
df3.shape

(103, 3)